.container {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 200px;
  height: 50px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}